body {
  max-width: 90%;
}

select[name='type'] {
  min-width: 80px;
  width: auto;
}

select[name='keep'] {
  min-width: 120px;
  width: auto;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 0;
  display: inline-block;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .passwordContainer {
    align-items: center;
    flex-direction: row;
  }
}

.passwordContainer label {
  flex-shrink: 0;
  margin-right: 0.5em;
}

.passwordContainer input {
  width: auto;
  flex-grow: 1;
}

input[type='submit'] {
  margin-top: 0;
  width: 100%;
}

input[type='file'] {
  display: none;
}

article {
  margin-bottom: 2em;
}

blockquote {
  margin-left: 0.5em;
  white-space: break-spaces;
}

.decrypt {
  display: none;
}

.encrypted pre,
.encrypted blockquote {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.encrypted .decrypt,
.encrypted .decrypt {
  display: block;
}

.data {
  margin-bottom: 0;
}

.error {
  color: red;
  font-weight: bold;
}

.error.paste {
  display: none;
}

a.removeData,
a.removeFile {
  cursor: pointer;
  font-size: small;
  text-decoration: underline;
}
